<%- include('./partials/header.ejs') %>

<div class="contact">
    <h1>Contact</h1>
    <div class="content">
        <form action="/contactForm" method="post">
            <input type="text" name="fname" placeholder="First Name">
            <input type="text" name="lname" placeholder="Last Name">
            <input type="email" name="email" placeholder="Email">
            <input type="number" name="number" placeholder="Number">
            <textarea name="message" placeholder="Enter your message."></textarea>
            <input type="submit" value="Submit">
            <p>If you have any questions or inquiries, you can also contact us via email at <a href="mailto:contact@example.com">contact@example.com</a>.</p>
        </form>
        <img src="images/contact.webp" alt="">
    </div>
    
</div>

<%- include('./partials/footer.ejs') %>

