<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <main>
        <nav>
            <h1>Mercy's Diary ✍️</h1>
            <div class="nav-items">
                <a href="/home">Home</a>
                <a href="/blog">Blog</a>
                <a href="/contact">Contact</a>
            </div>
            <span id="menu-bar" class="material-symbols-outlined"> menu </span>
        </nav>