<%- include('./partials/header.ejs') %>

<div class="home">
    <div class="homeText">
        <h1>Mercy's Diary &lt;/&gt; </h1>
        <p> <strong>A haven crafted by developers for developers.</strong> <br> <br> Step into the world of Mercy's Diary, a haven crafted by developers for developers. Through this blog, we embark on an enriching voyage through the realms of coding, sharing insights, tutorials, and personal anecdotes. Whether you're a seasoned professional or a budding enthusiast, here you'll find a wealth of knowledge and inspiration. Join us as we navigate the ever-evolving landscape of software development, one line of code at a time.</p>
        <form action="/subscribe" method="post">
            <input type="email" name="email" placeholder="Enter Your Email">
            <input type="submit" value="Subscribe">
        </form>
    </div>
    <div class="homeImage">
        <img src="images/Designer.png" alt="">
    </div>
</div>

<%- include('./partials/footer.ejs') %>