<%- include('./partials/header.ejs') %>

    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>
    <h1>Mercy's Diary ✍️</h1>

<%- include('./partials/footer.ejs') %>

